h2, p{
    padding-left:30px;
}

body {
    background: #e3e8e1
}

table {
    border: 4px solid black;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background: #c4e0ed;
}

th {
    color:#b73e64;
    padding: 10px;
}

td {
    padding:10px;
}

img {
    width:100%;
    height:auto;
}

/* make the table and images go away when the page is small */

@media (max-width:600px) {

    td {
        border:none;
    }

    img {
        display:none;
    }
}

